
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <div style='margin-left:15%;margin-top:-5%;'>
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
    </div>

{{ form_end(form) }}
