
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paiement réussi !</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f4f4f4;
        }

        .contenu {
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            text-align: center;
        }

        h1 {
            color: #333;
            font-size: 24px;
        }

        p {
            color: #666;
            font-size: 16px;
            line-height: 1.5;
        }

        .bouton {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .bouton:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>

<div class="contenu">
    <p>Votre commande a été validée avec succès. Merci pour votre achat !</p>
    <a href="{{url('app_home')}}" class="bouton">Retourner à la boutique</a>
</div>

</body>
</html>
